<aside class="col-md-3 col-sm-4">

    <!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

    <section class="section_offset">

        <h3>My Account</h3>

        <ul class="theme_menu">

            <li><a href="~/Account/UserAccount">Account Dashboard</a></li>
            <li><a href="~/Account/AccountInformation">Account Information</a></li>
            <li><a href="~/Account/AddressBook">Address Book</a></li>
            <li><a href="~/MyOrder/Index">My Orders</a></li>     
            <li><a href="~/Account/ChangeProfileImage">Change Profile Image</a></li>     
            <li><a href="~/Account/ChangePassword">Change Password</a></li>     
        </ul>

    </section><!--/ .section_offset -->
    <!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

    <div class="section_offset">

        <a href="#" class="banner">

            <img src="~/Content/images/gift.jpg" alt="">

        </a>

    </div>

    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->   
    <!-- - - - - - - - - - - - - - Compare products - - - - - - - - - - - - - - - - -->

    <section class="section_offset">

        <h3>Compare Products</h3>

        <ul class="products_list_widget">

            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

            <li>

                <a href="#" class="product_thumb">

                    <img src="images/product_thumb_10.jpg" alt="">

                </a>

                <div class="wrapper">

                    <a href="#" class="product_title">Diam eu massa quisque donec-...</a>

                    <div class="clearfix product_info">

                        <p class="product_price alignleft"><s>$29.99</s> <b>$21.99</b></p>

                    </div>

                </div>

            </li>

            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

            <li>

                <a href="#" class="product_thumb">

                    <img src="images/product_thumb_11.jpg" alt="">

                </a>

                <div class="wrapper">

                    <a href="#" class="product_title">Sed in lacus ut enim adipiscing...</a>

                    <div class="clearfix product_info">

                        <p class="product_price alignleft"><b>$13.99</b></p>

                    </div>

                </div>

            </li>

            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        </ul><!--/ .list_of_products-->

        <footer class="bottom_box">

            <a href="shop_product_comparison.html" class="button_grey middle_btn">Go to Compare</a>

        </footer>

    </section>

    <!-- - - - - - - - - - - - - - End of compare - - - - - - - - - - - - - - - - -->

</aside>