
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopClosed</title>
</head>
<body>
    <div> 
        <p>Shop Closed </p>
    </div>
</body>
</html>
