@model IEnumerable<Ecommerce.Models.OrderViewModel>
@using Common.Cryptography;
@{
    ViewBag.MainTitle = "Delivered Orders";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Delivered Order List</h2>
                <div class="panel-actions">
                    <button id="btn-del-selected" class="btn btn-danger" style="display:none"><i class="fa fa-trash-o"></i> Delivered</button>

                </div>
            </header>
            <div class="panel-body">
                <div class="dataTables_wrapper no-footer">
                    <div id="parent" class="row datatables-header form-inline">
                        <div class=" ">
                            @Html.Label("Field Name", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.DropDownList("colName", new List<SelectListItem>
                            {
                                new SelectListItem() {Text = "Select..", Value = ""},
                                new SelectListItem() {Text = "Order Code", Value = "OrderCode"},
                                new SelectListItem() {Text = "Customer Name", Value = "CustomerName"},
                                new SelectListItem() {Text = "Order Date", Value = "OrderDate"},
                                  new SelectListItem() {Text = "Order Status", Value = "OrderStatus"},
                                     new SelectListItem() {Text = "Address", Value = "Address"},
                                        new SelectListItem() {Text = "Contact", Value = "Contact"}
                            }, new { @class = "filterItem form-control" })
                            </div>

                            @Html.Label("Search Value", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.TextBox("colValue", "", new { @class = "filterItem form-control" })
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn btn-primary btn-sm" id="filterButton" name="search" value="Filter" />
                                <input type="button" class="btn btn-primary btn-sm" id="filterButtonClear" name="search" value="Clear" />
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<link href="~/Content/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#grid").jqGrid({
            url: "/AdminOrderDetails/GetDeliveredOrder",
            datatype: 'json',
            mtype: 'Get',
            styleUI: 'Bootstrap',
            colNames: ['OrderId', 'Order Code', 'Order Date', 'Order Status', 'Ordered Items', 'Customer Name', 'Address'],
            colModel: [
                  { key: true, hidden: true, name: 'OrderId', index: 'OrderId', classes: 'orderId' },
                 { key: true, name: 'OrderCode', index: 'OrderCode' },
                 { key: false, name: 'OrderDate', index: 'OrderDate', formatter: "date", formatoptions: { newformat: "m/d/Y h:i A" } },
                  { key: false, name: 'OrderStatus', index: 'OrderStatus' },
                   { key: false, name: 'OrderedItems', index: 'OrderedItems' },
                { key: false, name: 'CustomerName', index: 'CustomerName' },
                { key: false, name: 'FullAddress', index: 'FullAddress' }
            ],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            //caption: 'Todo List',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: true });

        $(document).on("click", "#grid tbody tr", function (e) {
            if (e.target.nodeName != "INPUT") {
                window.document.location = '/Admin/Order/orderitemdetails?orderId=' + $(this).find('td.orderId').html();
            }
        });



    });
</script>



